.contactsList {
  display: flex;
  flex-direction: column;
  max-width: 395px;
  margin: 25px auto 0;
  padding: 0;
  font-size: 19px;
  font-weight: 600;
  color: #59719c;
}

.contactItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 7px 10px 0 rgb(0 0 0 / 20%);
}
