.userMenu {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 8px;
}

.email {
  font-size: 18px;
  margin-right: 20px;
}

.btn {
  font-size: 18px;
  font-weight: 600;
  width: 100px;
  height: 31px;
  margin: auto;
  color: #4f6080;
  background-color: #dce6f7;
  border-radius: 10px;
  border: 1px solid #dce6f7;
  box-shadow: -5px -5px 5px -5px rgb(34 60 80 / 60%) inset;
  cursor: pointer;
  transition: background-color, color 0.4s;
}

.btn:hover {
  background-color: #5a88d6;
  color: #fff;
}
